/Guestbook-ejb/build/
/dist/
/build/
/Guestbook-war/dist/
/Guestbook-war/build/
/Guestbook-ejb/dist/
/Guestbook-war/nbproject/private/
/nbproject/private/
/Guestbook-ejb/nbproject/private/
/Guestbook-ejb/src/conf/persistence.xml
